.vs/
.vscode/
.idea/
build/
build-clang/
build-ms/
tools/
out/
resource/
node_modules
**/obj/
*.pdb
*.deps.json
*.dll
*.bkp
.obsidian/
src/Engine/Scripts/dist/

!src/ThirdParty/LLVM/bin/libclang.dll
!src/ThirdParty/Vulkan/Bin/VkLayer_khronos_validation.dll
src/ThirdParty/tinygltf-2.8.3/examples
