.vs/
.vscode/
.idea/
build/
cbuild/
tools/
out/
resource/

**/obj/
*.pdb
*.deps.json
*.dll
*.bkp
.obsidian/

!src/ThirdParty/LLVM/bin/libclang.dll
!src/ThirdParty/Vulkan/Bin/VkLayer_khronos_validation.dll
src/ThirdParty/tinygltf-2.8.3/examples